body {
  font-family: "Lato", sans-serif;
  background-image: url("../../images/kyiv.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: left;
  font-weight: 200;
  margin-right: 20px;
  font-size: 34px;
  line-height: 48px;
  background-color: transparent;
}
header h3 {
  font-size: 26px;
  line-height: 34px;
  font-family: "Nunito", sans-serif;
}
.button-current-position {
  border-radius: 15px;
  padding: 1px 46px;
  background-color: transparent;
  display: block;
  margin: 10px 50px;
  box-shadow: 1px 1px 1px #000;
}
.title {
  color: blue;
}
.cities {
  font-size: 28px;
  line-height: 36px;
  font-weight: 300;
  display: block;
  padding: 0 350px;
  border-color: transparent;
  background-color: transparent;
}
.weather_properties {
  list-style: none;
}
form input {
  background-color: transparent;
  border-radius: 15px;
  margin: 10px 10px 10px 50px;
  box-shadow: 1px 1px 1px #000;
}
.current_time {
  background-color: transparent;
}
section h1 {
  margin-left: 83px;
}
footer {
  font-size: small;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.night_t {
  opacity: 50%;
  font-size: smaller;
}
